#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: aqua;
  
}

#navbar ul {
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;

}

#navbar ul input {
  border: none;
  background: aqua;
}
#navbar h1 {
  margin: 20px;
  color: white;
}

footer {
  padding: 10px;
  width: 100%;
  background: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  margin: 0px;
}
#container{
text-align: center;
margin: 20px;
font-size:35px ;
}
#container p a{
  color: #038;
}